@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background-default: #181925;
    --color-background-accent: #333A48;
    --color-primary-default: #ff9f1c;
    --color-primary-accent: #ffaa48;
    --color-text-default: #F5F5F5;
}

#root {
    height: 100vh;
    width: 100vw;

    @apply bg-background-default;
    @apply rounded-lg;
}

svg {
    display: inline-block;
}

.webkit-drag {
    -webkit-app-region: drag;
}