@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background-default: #181925;
    --color-background-hover: #292f35;
    --color-background-accent: #333A48;
    --color-primary-default: #ff9f1c;
    --color-primary-accent: #d08a3b;
    --color-text-default: #F5F5F5;
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

#root {
    height: 100vh;
    width: 100vw;

    @apply bg-background-default;
    @apply rounded-lg;
}

* {
    outline: none !important;
}

.webkit-drag {
    -webkit-app-region: drag;
}

svg {
    display: inline-block;
}